/* styles.css */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
@font-face {
  font-family: 'Inter'; 
  src: url(/fonts/Inter-Regular.ttf);
}
.container{
 background-color: #000000;
  color:#f4f2f5;
  font-family:'Inter',sans-serif;
  max-width: 1400px;
}
[class$="head"] {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight:300;
}
[class$="text"]{
  opacity: 0.6;
  padding:1rem 0 1.6rem 0;
  text-align: center;
  color:#EFEDFD;
  font-size:0.8rem;
  font-weight:300;
}
/* Header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0.5rem 2rem;
  background-image: linear-gradient(to top, #120c27, #161234, #1b1642, #211a50, #281d5e, #2c1f65, #2f206b, #332272, #342273, #352373, #362374, #372374);
}
.header__left,.header__links,.header-buttons {
  display: flex;
  align-items: center;
}
.header__links--item{
  display:none;
  text-decoration: none;
  color:#EFEDFD;
  margin: 0 1rem;
}
.header__name {
  font-size: 1rem;
  padding: 0.5rem;
}
.header__login-btn,.header__start-btn{
  display: none; 
}

/* hero-section */
.hero{
display:flex;
flex-direction: column;
align-items: center;
text-align: center;
color: #EFEDFD;
background-image: linear-gradient(to bottom, #120c27, #161234, #1b1642, #211a50, #281d5e, #2c1f65, #2f206b, #332272, #342273, #352373, #362374, #372374);
padding: 2rem;
}
.hero__head{
line-height:1rem;
font-weight: 700;
}
.hero__image{
  padding-bottom: 1rem;
}
.hero__btn--start,.reflect__btn{
    font-size: 0.8rem;
    font-weight: bold;
    padding:.6rem 1.2rem;
    border-radius: 30px;
    margin-bottom: 0.6rem;
    border-style: none;
    /* width:40%; */
}
.hero__text{
  font-family: Inter-ExtraLight;
  font-size:1.2rem;
}
.btn-linear{
  background: #fffffF;
  background: linear-gradient(to right, #121FCF 0%, #B21FCF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
[class*="hero"]{
    margin-bottom:1rem;
}
/* feature section */
.feature{
    width:100%;
    text-align: center;
    padding:0 1.2rem;   
}
.feature__head{
padding-top:1rem;
line-height:1rem;
font-size: 1.6rem;
}
.feature__image{
  width:100%;
  height:auto;
}
.feature__text{
  padding-bottom:2rem;  
  padding-top:1.2rem;
}
.feature__container{
  margin-bottom:1.6rem;
}
/* .less-gap{
  line-height:.6rem;
} */
/* research section */
.research{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:0rem 2rem;
  margin-bottom: 0.1rem;
}
.research__head{
font-size:1.2rem;
}
.research__btn{
  font-size: 0.9rem;
  padding:.6rem .9rem;
  border-radius: 30px;
  background-image: linear-gradient(to top, #411766, #311656, #231446, #171035, #100725);
  color: #f4f2f5;
  max-width: 100%;
  margin-bottom: 2.5rem;
  border-style: none;
  opacity: .9;
}
.research-third,.research__row--content-encrypt{
  display:none;
}
.reflect{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reflect__head{
  font-weight: lighter;
  text-align: center;
  line-height: 2.5rem;;
  padding-bottom: 1rem;;
}
.reflect__browser{
  background-image: linear-gradient(to right bottom, #3245ff, #6844fb, #8943f6, #a243f2, #b845ed);
}
.reflect__eco{
  background-image: linear-gradient(to right bottom, #3366b6, #0086cb, #00a3d2, #00bece, #45d6c4);}
.reflect__docs{
  background-image: linear-gradient(to right bottom, #db344e, #e9276a, #f21f8a, #f429af, #eb3ed6);}
.reflect__browser,.reflect__docs,.reflect__eco{
padding:0.5rem 2rem;
margin-bottom:0.5rem;

}
.reflect__sub-head,.reflect__name-text,.reflect__text{
text-align: left;
}
.word-break::before {
  content: " ";
  display: inline-block;
  width: 100%;
}
.reflect__sub-head{
  font-size: 1.6rem;
  line-height: 0.5;
}
.reflect__name-text,.reflect__text{
  padding-bottom:1rem;
  font-size:0.8rem;
}
.reflect__text{
  padding-bottom:.6rem;
}
.reflect__btn{
  font-size: 0.8rem;
  padding: .7rem 1.2rem;
}
.apps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding: 2rem;
}
.apps__row--content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apps__button{
  width: 6rem;
  height: 1.6rem;
  background: linear-gradient(to right, #c17cad, #3f3f3f);
  margin-bottom: 1rem;
  border-radius:20px;
  font-size: 0.8rem;
  text-align: center;
  padding-top:.2rem;
}

.apps__head {
   font-size: 2rem; 
  margin-bottom: 3rem;
  line-height: 1rem;
  font-weight: 300;
  text-align: center;
}

.apps__icon {
  width: 4rem;
  height: 4rem;
}

.apps__sub-head {
  font-size: 1rem;
  /* margin-bottom: 0.5rem; */
  padding-top: 1.2rem;
}

.apps__text {
  font-size: 0.8rem;
  text-align: center;
line-height: 1.2;
}
.apps__logo,.apps__row-second{
  display: none;
}

.access {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34rem;
  padding-bottom:12rem;
  background-image: url(/images/getaccess_bg.png);
  background-size: cover;
  background-position: center;
  margin-bottom:1rem;
}
.access__image{
  display: none;
}
.access__button{
  background: linear-gradient(to right, #c17cad, #3f3f3f);
padding: 0.5rem 1rem;
border-radius: 20px;
}
.access__head{
  font-size: 1.4rem;
}

.additional {
  text-align: center;
  padding-bottom:6rem;
  display:flex;
  flex-direction: column;
}
.additional-second{
  display:none;
}
.additional__sub-head,
.additional__text {
  font-size: 0.8rem;
  line-height:.8rem;
}
.additional__box {
padding-bottom:2rem;
}
.blogs{
  display: flex;
  flex-direction:column;
}
.blogs-container{
  display:flex;
  flex-direction: column;
}
.blog__layers{
  width:100%;
  position:relative;
  margin-bottom:0 0 15rem 1rem;
  flex:1;
}
[class*=blog-layer]{
  position:absolute;
  width:90%;
  padding: 0;

}
.blog__layers img{
  height:100%;
  width: 100%;
  object-fit:cover;
}
.blog-layer1{
  z-index:5;
  top:0;
  left:0;
}
.blog-layer2{
  z-index:4;
  transform: translate(10px,10px);
}
.blog-layer3{
  z-index:3;
  transform: translate(20px,20px);
}
.blog-layer4{
z-index:2;
transform: translate(30px,30px);
}
.blog-layer5{
  z-index:1;
  transform: translate(40px,40px);
}
.marketing{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  flex:1;
}
.marketing__box{
  width: 80%;
  background-color: #3d3a3f;
  padding:1rem;
  margin-bottom: 1rem;
}
.marketing__box-text,.marketing__box-icon{
  font-size: 1rem;
  opacity:1;
}
.marketing__box-icon{
float:right;
}
.blogs__AI,.marketing-second{
 display: none;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user__row {
  display: flex;
  justify-content: center;
 align-items: center;
  margin: 1rem 0; 
  width:100%;
}
.user__row--text{
  width:70%;
  font-size: 1.2rem;
}
.user__icon {
  height: 2.8rem; /* Adjust the icon size */
  margin:2rem 0.5rem;
  width:100%;
}
.user__guardian{
  margin-right:2rem;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__txt--head{
  margin:1.6rem 0;
  font-size: 1rem;
  opacity: .6;
}
.footer__txt{
  margin-bottom:1rem;
}
.footer__icons{
  display:flex;
}
.footer__icons img{
padding-right:1rem;
  margin:2rem 0;
}
.copyright{
  display:flex;
  flex-direction: column;
  padding:0 .3rem 3rem .3rem;
}
.copyright__privacy{
  display:flex;
  justify-content:space-between;
  margin: 0 .2rem 2rem .2rem;
}
.copyright__content{
 text-align: center;
}

  /* Media Query */
  @media (min-width: 576px){
    .blogs-container{
      padding-left:2rem;
      margin-bottom: 15rem;
    }
.additional{
  padding-bottom: 1rem;
}
    .user__icon {
      height: 5rem; /* Adjust the icon size */
      width:100%;
    }
  }
@media (min-width: 768px) {
  .header__login-btn,.header__start-btn,.header__links--item {
    display: block;
  }
  .header{
    background:none;
    font-size: .6rem;
  }
  .header__menu{
    display:none;
  }
  .header__links{
    border: 1px solid rgba(123, 121, 121, 0.5) ;
    border-radius: 20px;
    padding:.3rem;
  }
  .header__login-btn,.header__start-btn{
    font-size: 0.6rem;
    font-family: 'Inter';
    padding: 0.5rem 1rem;
    border: none;
    color:#EFEDFD; 
    border-radius:8px;
    margin: 0 0.5rem; /* Add space between buttons */
  }
  .header__login-btn{
    background-color:transparent;
  }
  .header__start-btn{
    background-color: #712FFF;
  }
/* Hero section */
  .hero{
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: center;
background-image: linear-gradient(to right,#271B5A,#271B5A, #271B5A,#7341AB,#170C2E); 
  }
  .hero__image,
  .hero__content {
    flex-grow: 1;
  }
  .hero__image{
    margin-right:6rem;
  }
  .hero__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__text{
    width:70%;
  }
  .feature__container{
    display: flex;
    align-items:center;
    width:100%;
  }
  .feature__image{
width:62%;
  }
  .feature__content{
    flex:1;
    padding:2rem;
  }
.feature__text{
  font-size: 0.8rem;
}
.research{
  align-items: center;
  justify-content: center;
  padding:2rem 5rem;
}
.research-first{
  margin-bottom:2rem;
}
.research-third{
  display:block;
  border-bottom: 1px solid rgba(169, 169, 169, 0.2);
  text-align: left;
  /* margin:1rem 1rem 0 1rem; */
}
.research__row{
  display: flex;
  justify-content:space-evenly;
  /* margin:1rem; */

}
.research__row--content{
flex:1;
  border-left: 1px solid rgba(169, 169, 169, 0.2);
  padding:1rem 0rem .5rem 1rem;
}
.research__head{
  font-size:0.8rem;
  font-weight:600;
}
.research__text{
  text-align:left;
}
.reflect{
  width:90%;
  margin:auto;
}
.reflect__column{
  display:flex;
  margin:2rem;
}
.reflect__browser,.reflect__docs,.reflect__eco{
  margin-right:.5rem;
  font-size: .6rem;
  flex:1;
}
.btn-eco,.btn-docs{
  margin-top:1rem;

}
.apps{
  max-width:60%;
  margin:auto;
}
.apps__row-second,.apps__row-first{
  display:block;
  display:flex;
  justify-content:space-evenly;
}
.apps__row--content{
  margin-right:2rem;
}
.apps__logo{
  display: block;
  width:2rem;
  height:4rem;
  padding-bottom:1rem;
}
.access{
  background: none;
  padding:2rem;
  max-width:60%;
  margin:auto;
}
.access__button{
  margin:1rem;
}
.access__image{
display: flex;
justify-content: center;
align-items:center;
}
.access__img{
  width:100%;
  object-fit: cover;
}

.access__image,.additional-second,.blogs__AI,.marketing-second{
  display:block;
}
.additional{
  max-width:70%;
  margin:auto;
}
.additional__row{
  display: flex;
}
.additional-second{
  width:70%;
  margin:auto;
}
.additional__box{
padding:1rem;
flex:1;
}
.blogs-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 2rem;
}
.blog__layers{
flex:2;
align-self: flex-start;
}
[class*=blog-layer]{
  width:90%;
}
.blogs-linear{
 text-align: center;
 font-size: 0.8rem;
background: #fffffF;
background: linear-gradient(to right, #FC72FF,#8F68FF,#487BFF, #B21FCF,#2CFFCC 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.blogs__text{
  margin-right:2rem;
}
.marketing{
  margin-right: 4rem;
  flex:1;
}
.marketing__box{
  width:90%;
}
.blogs__AI{
  display: flex;
  flex-direction: column;
/* text-align: center ; */
width:60%;
margin:6rem auto;
border:1px solid #8f898967;
border-radius: 10px;
}
.blogs__AI--row{
  display: flex;
  /* width:50%; */
  align-items: center;
  justify-content: space-around;
}
.blogs__text{
  padding: 1rem;
}
.blogs__star{
  display:flex;
  align-items:center;
}
.user{
  display:flex;
  flex-direction: row;
  width:80%;
  margin:auto;
}
.user__icon{
  height: 1.8rem;
  padding:.2rem;
}
.user__row{
  margin: 1.2rem;
}
.user__row--text{
  font-size: 1rem;
  margin-right: 1rem;
}
.user__guardian{
  margin-right:0.8rem;
}
.footer{
  display:flex;
  flex-direction: row;
 justify-content: space-between;
  background-color: #343841;
}
.footer__content{
  display:flex;
  padding:1rem 2rem;
  margin-left:2rem;
}
.footer__box{
 flex:1;
 margin-right:1rem;
 padding:1rem;
}
.footer__txt{
  margin-bottom:0.5rem;
  font-size: .8rem;;
}
.copyright{
  padding: 2rem 5rem;
  opacity:0.6;
  background-color: #343841;
}

}
@media (min-width: 992px) {
.additional__row{
justify-content: space-between;
}
.blog__layers{
  flex:1;
}
[class$="head"] {
  font-size: 2.4rem; 
}
.apps__sub-head {
  font-size: 1.4rem;
}
.additional__sub-head, .additional__text {
  font-size: 1rem;
}
.research__head{
  font-size:1rem;
}
}
@media  (min-width:1200px){
.apps__row-first,.apps__row-second{
  width:80%;
  }
}
@media  (min-width:1400px){
  .container{
    margin:auto;
  }
    [class$="head"] {
      font-size: 3rem; 
    }
    .apps__sub-head {
      font-size: 1.6rem;
    }
    .additional__sub-head, .additional__text {
      font-size: 1.2rem;
    }
    .research__head{
      font-size:1.4rem;
    }
.blogs__AI{
  width:35%;
}
.btn-astro{
  margin-top: 0.8rem;
}
.btn-docs {
  margin-top: 0.4rem;
}
.btn-eco{
  margin-top:0;
}
}
  
