/* styles.css */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
@font-face {
  font-family: 'LisuBosa'; 
  src: url(/fonts/LisuBosa-Medium.ttf);
}
.container{
  /* background-image: linear-gradient(to top, #1e1d1f, #211d28, #221e32, #211e3c, #1b2047);    font-family:'LisuBosa', sans-serif; */
 background-color: #000000;
  color:#f4f2f5;
}
[class$="head"] {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}
[class$="text"]{
  font-family:"Lisubosa";
  opacity: 0.6;
  padding-bottom:1.6rem;
  line-height: 1.6rem;
  text-align: center;
  color:#EFEDFD;
}
/* Header section */
.header-container{
  background-image: linear-gradient(to bottom, #120c27, #161234, #1b1642, #211a50, #281d5e, #2c1f65, #2f206b, #332272, #342273, #352373, #362374, #372374);
padding:0.5rem 2rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:2rem;
}
  .header__left{
    display:flex;
  }
 .header__name{
    font-size: 1rem;
    padding:0.5rem;
  }
/* hero-section */
.hero{
display:flex;
flex-direction: column;
align-items: center;
text-align: center;
/* margin-bottom: 5rem; */
}
.hero__head{
line-height:1rem;
}
.hero__btn--start,.reflect__btn{
    font-size: 0.8rem;
    font-weight: bold;
    padding:.4rem 1rem;
    border-radius: 30px;
    margin-bottom: 0.6rem;
    border-style: none;
    /* background-color: #ffffff; */
    /* color: #121FCF; */

}
.btn-linear{
  background: #fffffF;
  background: linear-gradient(to right, #121FCF 0%, #B21FCF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
[class*="hero"]{
    margin-bottom:1rem;
}
/* feature section */
.feature{
    width:100%;
    text-align: center;
    padding:0 2rem;   
}
.feature__head{
}
/* research section */
.research{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding:0rem 2rem;
  margin-bottom: 0.1rem;
}
.research__head{
font-size:1.2rem;
}
.research__btn{
  font-size: 0.9rem;
  padding:.6rem .9rem;
  border-radius: 30px;
  background-image: linear-gradient(to top, #411766, #311656, #231446, #171035, #100725);
  color: #f4f2f5;
  max-width: 100%;
  margin-bottom: 2.5rem;
  border-style: none;
  opacity: .9;
}
.reflect{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reflect__head{
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
  line-height: 2.5rem;;
  padding-bottom: 1rem;;
}
.reflect__browser{
  background-image: linear-gradient(to right bottom, #6b43d9, #754dd7, #7d57d6, #8660d4, #8d6ad2);}
.reflect__eco{
  background-image: linear-gradient(to right top, #7bc6e3, #66b5d1, #4fa4c0, #3793af, #16839e);
}
.reflect__docs{
  background-image: linear-gradient(to right, #c370bd, #ba5dae, #b1499f, #a73490, #9e1680);
}
.reflect__browser,.reflect__docs,.reflect__eco{
padding:1rem;
margin-bottom:0.5rem;
align-items: left;
}
.reflect__sub-head,.reflect__name-text,.reflect__text{
  text-align: left;
}
.reflect__sub-head{
  font-size: 1.6rem;
}
.reflect__name-text{
  padding-bottom:1rem;
}
.reflect__text{
  padding-bottom:.6rem;
}
.reflect__btn{
  font-size: 0.8rem;
  padding: .7rem 1.2rem;
}
.apps {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.apps__button{
  width: 6rem;
  height: 2rem;
  background: linear-gradient(to right, #c17cad, #3f3f3f);
  margin-bottom: 1rem;
  border-radius:20px;
}

.apps__head {
  /* font-size: 1.5rem; */
  margin-bottom: 1rem;
}

.apps__zapier,
.apps__readwise {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.apps__icon {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1.6rem;
}

.apps__sub-head {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding-top: 2rem;
}

.apps__text {
  font-size: 1rem;
  text-align: center;
}

.access {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34rem;
  padding-bottom:12rem;
  background-image: url(/images/getaccess_bg.png);
  background-size: cover;
  background-position: center;
}
.access__button{
  background: linear-gradient(to right, #c17cad, #3f3f3f);
padding: 0.5rem 1rem;
border-radius: 20px;
}
.access__head{
  font-size: 1.4rem;
}

.additional {
  text-align: center;
  padding-bottom:6rem;
}

.additional__sub-head,
.additional__text {
  font-size: 1.2rem;
  line-height:.8rem;
  margin: 10px 0;
}.additional__icon {
  margin-top:2.4rem;
  margin-bottom:1rem;
}

/* CSS styles */
.blogs-container {
  display: flex;
  width: 400px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  position: relative;
}

[class*=blog-layer] {
  position: absolute;
  padding-top: 1rem; /* Adjust the padding as needed */
  overflow: hidden;
  background-color: #726d6d;
  /* width:320px;
  height:320px; */
}

 .blog-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* To make the images fill the container */
}

.blog-layer1 {
  z-index: 5;
  top: 0;
  left: 0;
  padding-bottom:1rem;
}

.blog-layer2 {
  z-index: 4;
  top: 10px; /* Adjust the position as needed */
  left: 20px; /* Adjust the position as needed */
}

.blog-layer3 {
  z-index: 3;
  top: 20px; /* Adjust the position as needed */
  left: 40px; /* Adjust the position as needed */
}

.blog-layer4 {
  z-index: 2;
  top: 30px; /* Adjust the position as needed */
  left: 60px; /* Adjust the position as needed */
}

.blog-layer5 {
  z-index: 1;
  top: 40px; /* Adjust the position as needed */
  left: 80px; /* Adjust the position as needed */
}
.blog__text{
  padding:0;
}